/*****************
 * Notebooks and *
 * tabs          *
 *****************/

.notebook {
    padding: 0px;

    border-color: shade (@theme_bg_color, 0.75);
    border-style: solid; 
	border-radius: 0px 0px 0px 0px;
    border-width: 1px;
    border-image: none;

    background-color:  shade (@theme_bg_color, 1.1);
	
}

.notebook GtkDrawingArea {
	background-color: shade (@theme_bg_color, 1.1);
    border-style: none; 
}

.notebook tab {
    border-width: 1px 1px 1px 1px;
    border-style: solid; 
	border-radius: 5px 5px 0px 0px;

	border-top-color: 		shade (@theme_bg_color, 0.90);
	border-left-color: 		shade (@theme_bg_color, 0.90);
	border-bottom-color: 	shade (@theme_bg_color, 0.75);
	border-right-color: 	shade (@theme_bg_color, 0.75);

    background-color: shade (@bg_color, 0.85); 
	color: @theme_selected_fg_color;

}

.notebook tab.top {
    padding: 6px 2px 4px 4px;
}

.notebook tab.bottom {
    padding: 6px 10px 6px; /* 0px 6px 4px; */
	border-style: solid;
	border-width: 0px 0px 0px 1px;

	border-radius: 8px 8px 8px 8px;
	border-top-color: 		shade (@theme_fg_color, 0.75); /* @theme_selected_bg_color; */
	border-left-color: 		shade (@theme_bg_color, 0.75);
	border-bottom-color: 	shade (@theme_bg_color, 0.75); /* @theme_selected_bg_color; */
	border-right-color: 	shade (@theme_bg_color, 0.75); /* @theme_selected_bg_color; */

    background-color: shade (@theme_bg_color, 0.85);
	background-image: none;
}

.notebook tab.bottom:active {
    padding: 6px 10px 6px; /* 0px 6px 4px; */
	border-style: solid;
	border-width: 1px 1px 1px 1px;

	border-radius: 8px 8px 8px 8px;
	border-color: shade (@theme_bg_color, 0.75);
/*	border-top-color: 		@theme_fg_color;  @theme_selected_bg_color; 
	border-left-color: 		@theme_fg_color;
	border-bottom-color: 	@selected_bg_color; @theme_selected_bg_color; 
	border-right-color: 	@theme_fg_color;  @theme_selected_bg_color; */

    background-color: shade (@theme_bg_color, 1.1);
	background-image: none;
	color: shade (@theme_fg_color, 0.5);
}

.notebook tab.right {
    padding: 3px 4px 3px 0px;
}

.notebook tab.left {
    padding: 3px 0px 3px 4px;
}


.notebook tab:active {
	border-style: solid;
	border-width: 1px 1px 1px 1px;

	border-radius: 8px 8px 0px 0px;
	border-top-color: 		shade (@bg_color, 0.75);
	border-left-color: 		shade (@bg_color, 0.75);
	border-bottom-color: 	transparent;
	border-right-color: 	shade (@bg_color, 0.75);

    background-color:shade (@theme_bg_color, 1.1);
	background-image: none;

	color: alpha (@text_color, 0.97);

}

/* Notebook - close button */
.notebook tab .button,
.notebook tab .button:active,
.notebook tab .button:hover {
	padding: 3px;
    border-image: none;
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.notebook tab .button GtkImage {
    border-radius: 0px;
    color: shade(@theme_fg_color, 1.1);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 0;
    icon-shadow: none;
}

.notebook tab .button GtkImage:hover {
    color: shade(@theme_fg_color, 1.00);
    border-color: alpha(black, 0.1); 
}

.notebook tab .button GtkImage:active,
.notebook tab .button GtkImage:active:hover {
    background-color: alpha(black, 0.15); 
	color: green;
/*    color: shade(@theme_fg_color, 0.8);*/
    icon-shadow: none;
    border-color: alpha(black, 0.27) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13); 
}



