################################################
# PANELS
################################################

# Note: Uncommenting means to delete the "#" at the beginning of a line. Commenting out means to add a "#" at the beginning of a line. The "#" tells the theme wether to ignore the line or not.

style "theme-panel"
{

	font_name = "Asap regular 10"
	bg[SELECTED]	= shade (1.1, @selected_bg_color) # Makes selected items dark.
	bg[NORMAL]	= "#efefef" # Color de fondo del panel
	bg[PRELIGHT]	= shade (0.85, @selected_bg_color) # Makes panel button prelight dark.
	bg[ACTIVE]	= shade (0.60, @bg_color) # Makes active buttons dark.
	bg[INSENSITIVE]	= "#5c3C3C"
	fg[NORMAL]	= "#202020" # Makes panel text light.
	fg[PRELIGHT]	= @selected_fg_color  # Makes prelighted text colored.
	fg[SELECTED]	= @selected_fg_color  # Makes prelighted text colored.
	fg[ACTIVE]	= @selected_fg_color  # Makes active text colored.
	fg[INSENSITIVE]	= "#666666" # Color for insensitive text.
	text[NORMAL]	= "#101010"
	text[PRELIGHT]	= @selected_fg_color  # Makes prelighted text colored.
	text[SELECTED]	= @selected_fg_color  # Makes prelighted text colored.
	text[ACTIVE]	= @selected_fg_color  # Makes active text colored.
	text[INSENSITIVE]	= "#666666"

	bg_pixmap[NORMAL]	= "imagenes/panel_bg.png" # Disable for normal panel backgrounds.
	
	engine "murrine" {
		animation           = TRUE
		colorize_scrollbar  = TRUE
		contrast            = 0.8
		glazestyle          = 0 # 0 = flat highlight, 1 = curved highlight, 2 = concave style, 3 = top curved highlight, 4 = beryl highlight
		gradient_shades     = {1.01,1.0,0.99, 0.97} 
		progressbarstyle    = 2
		#focus_color         = "#f0f0f0" #"#69aef5"
		glowstyle	    	= 3
		glow_shade          = 1.8
		handlestyle			= 1
		highlight_shade     = 1.07
		lightborder_shade   = 1.8
		lightborderstyle    = 1 # 0 = lightborder on top side, 1 = lightborder on all sides
		listviewheaderstyle = 2 # 0 = flat, 1 = glassy, 2 = raised
		listviewstyle       = 0 # 0 = nothing, 1 = dotted
		menubaritemstyle    = 0 # 0 = menuitem look, 1 = button look
		menubarstyle        = 2 # 0 = flat, 1 = glassy, 2 = gradient, 3 = striped
		menuitemstyle       = 0 # 0 = flat, 1 = glassy, 2 = striped
		menustyle           = 0 # 0 = no vertical menu stripe, 1 = display vertical menu stripe
		reliefstyle	    	= 1 # 0 = flat, 1 = inset, 2 = shadow
		rgba		    	= TRUE
		roundness           = 2 # Redondeado de bordes en los botones
		scrollbarstyle      = 0 # 0 = nothing, 1 = circles, 2 = handles, 3 = diagonal stripes, 4 = diagonal stripes and handles, blablabla..
		sliderstyle         = 1 # 0 = nothing added, 1 = handles
		separatorstyle	    = 1
		stepperstyle        = 1 # 0 = standard, 1 = integrated stepper handles, 2 = unknown
		toolbarstyle	    = 2 # 0 = flat, 1 = glassy, 2 = gradient
		spinbuttonstyle     = 0
		comboboxstyle	    = 1
		arrowstyle 	    	= 1
	}
}

style "applet"
{
	fg[NORMAL] = "#ff0000"
	bg_pixmap[NORMAL] = "imagenes/panel_bg2.png"
}

style "theme-panel-light"
{
	fg[NORMAL]	= @fg_color
}

# Panel settings. Do not change.
widget "*PanelWidget*"		style "theme-panel"
widget "PanelWidget" style "theme-panel"

#widget "*PanelApplet*"		style "theme-panel"
widget "*fast-user-switch*"	style "theme-panel"
widget "*gdm-user-switch*"	style "theme-panel"
widget "*CPUFreq*Applet*"	style "theme-panel"
widget "*indicator-applet*"	style "theme-panel"

#class "PanelApp*"		style "theme-panel"
class "PanelToplevel*"		style "theme-panel"
#widget_class "*<PanelMenuBar>*" style "theme-panel"
widget_class "*<MatePanelAppletFrameDBus>*" style "applet"
widget_class "*PanelToplevel*"	style "theme-panel"
#widget_class "*Mail*"		style "theme-panel" # Disabled to fix Evolution bug.
class "*Panel*"		style "theme-panel" # Disabled to fix bug.
widget_class "*notif*"		style "theme-panel"
widget_class "*Notif*"		style "theme-panel"
widget_class "*Tray*"		style "theme-panel" 
widget_class "*tray*"		style "theme-panel"
widget_class "*computertemp*"	style "theme-panel"
widget_class "*Applet*Tomboy*"	style "theme-panel"
widget_class "*Applet*Netstatus*"	style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"	style "theme-panel-light"
widget_class "*Notif*Brasero*"	style "theme-panel-light"

# XFCE panel theming.
widget "*Xfce*Panel*"		style "theme-panel"
class "*Xfce*Panel*"		style "theme-panel"

# Fix xfce-notifyd button
style "xfce-notifyd-button" {
	fg[NORMAL]	= @text_color
	fg[PRELIGHT]	= @text_color
	fg[ACTIVE]	= @text_color
}

widget_class "XfceNotifyWindow.*.GtkButton*" style "xfce-notifyd-button"
