Source: gnome-themes-huayra
Section: x11
Priority: optional
Maintainer: Mauro Lizaur <mauro@debian.org>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3

Package: gnome-themes-huayra
Depends: ${misc:Depends}, gtk2-engines (>= 1:2.15.3), librsvg2-common, clearlooks-phenix-theme, metacity
Recommends: dmz-cursor-theme
Architecture: all
Description: Temas de gtk2, gtk3, metacity y gnome-shell para Huayra GNU/Linux
 En este paquete se encontraran los distintos temas de Huayra GNU/Linux para 
 GNOME Shell, Metacity, GTK-2 y GTK-3.
