/*********
 * Menus *
 *********/

.menu {
    background-color: shade (@theme_base_color, 1.2);
    color: @theme_fg_color;
    padding: 4px;
    border-style: solid;
	border-radius: 4px;
}

.menu:hover {
    background-color: shade (@theme_base_color, 1.2);
    color: @theme_selected_fg_color;
    padding: 4px;
    border-style: solid;
	border-radius: 4px;
}


.menu.button {
    background-image: none;
    background-color: @theme_base_color;
    color: @internal_element_color;

    border-image: none;
    border-style: solid;
	border-color: red;
}

.menu.button:hover {
    background-image: none;
    background-color: @theme_base_color;
    color: @theme_text_color;

    border-image: none;
    border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

.menu.button:insensitive {
    background-color: @theme_base_color;
    color: lighter(@internal_element_color);

    border-image: none;
    border-style: none;
}

/* this controls the general appearance of the menubar */
.menubar {
    border-style: none;
    padding: 2px;
	background-color: @theme_bg_color;
	color: purple;
    -GtkWidget-window-dragging: true;
    -GtkMenuBar-internal-padding: 8;
	-GtkMenuBar-shadow-type: none;
}

.menubar .menuitem {
    border-style: none;
    padding: 3px 5px;
	background-color: transparent;
	color: shade(@theme_text_color, 1.1);
}


/* remove the image from the prelight areas */
.menubar .menuitem:hover {
    /*background-image: none; */
	background-image: linear-gradient(to bottom,
                                      shade(@selected_bg_color, 0.9),
                                      shade(@selected_bg_color, 1.1),
									  shade(@selected_bg_color, 1.0),
                                      shade(@selected_bg_color, 1.0));
    /*background-color: @menu_bg_color; */
	background-color: transparent; 
	border-radius: 4px;
	color: @theme_selected_fg_color;

}


.menu .menuitem {
    -GtkMenuItem-arrow-scaling: 0.4;
    padding: 4px;
}

.menu .menuitem:hover {
    border-radius: 3px;
    /* color:white;  @theme_selected_fg_color;*/
}

.menu .menuitem:active,
.menu .menuitem *:active,
.menu .menuitem:hover,
.menu .menuitem *:hover {
	background-color: @selected_bg_color;	
    background-image: linear-gradient(to bottom,
                                      shade(@selected_bg_color, 0.9),
                                      shade(@selected_bg_color, 1.1));
    color: white; /* @theme_selected_fg_color;*/
}

.menu .menuitem:insensitive,
.menu .menuitem *:insensitive {
    color: alpha (@menu_fg_color, 0.4); /*mix (@menu_fg_color, @menu_bg_color, 0.6);*/
	background-color: transparent;
}

.menu .menuitem .accelerator:insensitive {
    color: alpha (@menu_fg_color, 0.2);
}

.menuitem .accelerator {
    color: alpha (@menu_fg_color, 0.6);
}

.menuitem .accelerator:hover,
.menuitem .accelerator:active {
    color: @theme_selected_fg_color;
}

.menuitem.arrow {
    color: @menu_controls_color;
}

.menuitem.separator {
    color: alpha (@menu_fg_color, 0.1); /*@menu_separator;*/
	border: 1px;

    -GtkMenuItem-horizontal-padding: 0;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover,
.menuitem.check:insensitive,
.menuitem.radio:insensitive {
    background-image: none;
    background-color: transparent;
}

.menuitem.check:active,
.menuitem.radio:active {
    background-color: transparent;
}

.menuitem.check:active {
    background-image: url("assets/menuitem-checkbox-checked.png");
}

.menuitem.check:active:hover {
    background-image: url("assets/menuitem-checkbox-checked-selected.png");
}

.menuitem.check:active:insensitive {
    background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    background-image: url("assets/menuitem-checkbox-mixed.png");
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
}

.menuitem.check:inconsistent:hover,
.menuitem.radio:inconsistent:hover {
    background-image: url("assets/menuitem-checkbox-mixed-selected.png");
}

.menuitem.radio:active {
    background-image: url("assets/menuitem-radio-checked.png");
}

.menuitem.radio:active:hover {
    background-image: url("assets/menuitem-radio-checked-selected.png");
}

.menuitem.radio:active:insensitive {
    background-image: url("assets/menuitem-radio-checked-insensitive.png");
}

/* combobox menus */
GtkTreeMenu.menu, GtkTreeMenu.menu * {
    background-color: shade (@theme_base_color, 1.2);
}



GtkTreeMenu .menuitem * {
    background-color:shade (@theme_base_color, 1.2); 
}

GtkTreeMenu .menuitem:hover {

	background-image: linear-gradient(to bottom,
                                      shade(@selected_bg_color, 0.9),
                                      shade(@selected_bg_color, 1.2),
									  shade(@selected_bg_color, 1.0),
                                      shade(@selected_bg_color, 0.0));
    padding: 2px;

    border-style: solid;
    border-width: 1px 0;
    border-color: @menu_combobox_border;
	color: white;
}


/* Menues con punta triangular como en GnomeShell */
GtkPopover, GtkPopover.background {

	background-color: shade (@theme_bg_color, 1.1);
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: alpha (@theme_fg_color, 0.5);

}


